[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailfinder
Exec=invoker --type=silica-qt5 -s /usr/bin/harbour-sailfinder
Name=Sailfinder
